# Build Folders
*.[Cc]ache
*bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
.code-workspace

# Rider
.idea/

# Windows Files
Thumbs.db
ehthumbs.db
Desktop.ini

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Other
*.db
*.db-journal
